<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="./images/DSC04059.JPG">
      </div>
      <div class="card-content">
        <p>鯉のぼりがとても綺麗でした</p><br>
        <p>歩いた日：2019.6.30</a>
        <p>消費カロリー：300kcal</a>
      </div>
      <div class="card-action">

        <a href="#">投稿者：yuichi</a>
      </div>
    </div>
  </div>
</div>